!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Le CV de Loik
  %body
    %img{:src => "./mememe.jpg"}/
    %table{:style => "width:50%"}
      %thead
        %tr
          %th MON CV DE FOUUUUU
      %tbody
        %tr
          %td nom
          %td Thébia
        %tr
          %td prénom
          %td Loik
        %tr
          %td Skill
          %td Handsome
